@page
@model MoviesInfo.Areas.Admin.Pages.Show.NewModel
@{
    ViewData["Title"] = "New";
    ViewData["Header"] = "New show";
}

<div class="container p-0 d-flex align-content-stretch mb-4">
    <div class="flex-grow-0 mr-2">
        <img class="border border-primary rounded" src="~/images/1.jpg" />
    </div>
    <div class="card border-dark flex-grow-1">
        <div class="card-header bg-dark">
            <h3 class="card-title text-white mb-0">Create New Show</h3>
        </div>
        <form class="card-body">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Show Name">
            </div>
            <div class="form-group">
                <label for="networkInput">Network</label>
                <input type="text" class="form-control" id="networkInput" placeholder="HBO">
            </div>
            <div class="form-group">
                <label for="scheduleInput">Schedule</label>
                <input type="text" class="form-control" id="scheduleInput" placeholder="Week at 00:00">
            </div>
            <div class="form-group">
                <label for="genresInput">Genres</label>
                <input type="text" class="form-control" id="genresInput" placeholder="Drama, Crime...">
            </div>
            <div class="form-group">
                <label for="developerInput">Developer</label>
                <input type="text" class="form-control" id="developerInput" placeholder="Max Maxwell">
            </div>
            <div class="form-group">
                <label for="portraitFile">Portrait image</label>
                <input type="file" class="form-control-file" id="portraitFile">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea class="form-control" id="descriptionInput" placeholder="More details"></textarea>
            </div>
        </form>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-success">Create</button>
        </div>
    </div>
</div>

