@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Header"] = "All shows";
}
<div class="card-columns">
    @foreach (var item in Model.ShowModel)
    {
        <div class="card">
            <img src="@Html.DisplayFor(modelItem => item.Portrait)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
            </div>
            <div class="card-footer d-flex justify-content-between">
                @if (Model.Favorites?.FirstOrDefault(f => f.ShowId == item.Id) != null)
                {
                    <span class="badge badge-primary p-1">Favorite</span>
                }
                <a class="card-link" asp-area="Show" asp-page="/More" asp-route-id="@item.Id">More details</a>
            </div>
        </div>
    }
</div>
